aniso8601==9.0.1
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
dataclasses==0.8
docker==5.0.2
Flask==2.0.1
Flask-HTTPAuth==4.4.0
Flask-RESTful==0.3.9
flask-restful-swagger==0.20.2
greenlet==1.1.1
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pytz==2021.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.23
typing-extensions==3.10.0.2
urllib3==1.26.6
websocket-client==1.2.1
Werkzeug==2.0.1
zipp==3.5.0
